@import url("https://fonts.googleapis.com/css?family=Inter:700,400");

* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.bodo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.logo{
  width: 250px;
  margin-bottom: -120px;
}

.top {
  margin-top: 15px;
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.top p{
  font-weight: bold;
  color: #B9C6CE;
  font-size: 12px;
}



.mid {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15vh;
}

.form-api {
  gap: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-api button {
  color: white;
  background-color: #2762CA;
  border: #2762CA solid 1px;
  width: 52vw;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  padding: 8px;
}

.link {
  font-weight: bold;
  font-size: 13px;
  color: #00A1FA;
  cursor: pointer;
}

input {
  text-align: center;
  padding: 5px;
  border: 2px black solid;
  border-radius: 5px;
  background-color: #EBF9FF;
  width: 50vw;
}

.back {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 15px;
}

.back button {
  background-color: white;
  color: #00A1FA;
  border: #00A1FA solid 4px;
  width: 52vw;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  padding: 1px;
  margin-bottom: 15px;
}

.back img {
  width: 80px;
}
